
<!-- Third Grid: About Me -->
<div class="w3-row" id="contact">
    <div class="w3-half w3-black w3-container w3-center" style="height:700px">
        <div class="w3-padding-64">
            <h1>About Me</h1>

            <!--<div class="w3-padding-64">-->
          
            <p>Suhas Muralidhara Kesarla</p>
            <p>+61 0422674386</p>
            <p>suhas.kesarla@gmail.com</p>
        </div>
    </div>
    <div class="w3-half w3-black w3-container" style="height:700px">
        <div class="w3-padding-64 w3-padding-large">
            <h1>Get In Touch</h1>
            <p>
                • Qualified software engineer with overall of 9 years of IT experience
            </p>

            <p>• A Sitecore Certified Software Developer in 8.X and 6.5.</p>
            <p>
                • Extensive experience in Sitecore Development, Sitecore Upgradation, Migration of Legacy ASP.NET sites to Sitecore, Sitecore Customization, Solr and Sitecore Analytics.
            </p>
            <br />
            <br />
          
        </div>
    </div>
</div>
