<!-- First Grid: Logo & About -->
<div class="w3-row">
    <div class="w3-half w3-black w3-container w3-center" style="height:700px">
        <div class="w3-padding-64">
            <h1>PACMAN</h1>
        </div>
        <div class="w3-padding-64">
            <a href="#" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Rules</a>
            <a href="#work" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Play Pacman</a>

            <a href="#contact" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">About Me</a>
        </div>
    </div>
    <div class="w3-half w3-black w3-container w3-center" style="height:700px">
        <div class="w3-padding-64 w3-center">
            <h1>Rules</h1>

            <div class="w3-left-align w3-padding-large">
                <p> This page simulates Pacman moving on in a grid, of dimensions 5 units x 5 units.Pacman is free to roam around the surface of the grid, but will not be moving off the grid. Follow the below instructions to move the pacman.</p>
                <p>1. PLACE will put the Pacman on the grid in positon X,Y and facing NORTH,SOUTH, EAST or WEST.</p>
                <p>2. The first valid command to Pacman is a PLACE command. So ensure you PLACE first before using any other commands.</p>
                <p>3. MOVE will move Pacman one unit forward in the direction it is currently facing.</p>
                <p>4. LEFT and RIGHT will rotate Pacman 90 degrees in the specified direction without changing the position of Pacman.</p>
                <p>5. REPORT will announce the X,Y and F of Pacman.</p>
            </div>
        </div>
    </div>
</div>