
@{
    ViewBag.Title = "PageNotFound";
    Layout = null;
}
<!DOCTYPE html>
<html>
<title>PACMAN SIMULATOR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/w3.css">
<body class="w3-content" style="max-width:1300px">
    <div class="w3-row">
        <div class="w3-dark-grey w3-center"id="work">
            <div class="w3-padding-64">
                404 - Opps! You have some problems</h2>
                <div class="divider-header"></div>
                The page you are looking for was moved, removed, renamed or might never existed.
                </p>
                <a href="/" class="learn-more-btn btn-scroll">Go Home</a>
            </div>
        </div>
    </div>
    </body>
</html>
