<!DOCTYPE html>
<html>
<title>PACMAN SIMULATOR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/w3.css">
<body class="w3-content" style="max-width:1300px">
    @Html.Partial("/Views/Home/Rules.cshtml")

    @RenderBody()

    @Html.Partial("/Views/Home/About.cshtml")


    <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-16">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
       
    </footer>

</body>
</html>
